
body, table, p, div, span, form, input, textarea, select, pre, button  {
font-family: "微軟正黑體", "Microsoft JhengHei", "新細明體"; 
}

.container_min{
margin-bottom: 75px;
	margin-top: 50px;
}

/* navbar-mycolor */
.navbar-default {
  background-color: #2c5f67;
  border-color: #1d4046;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #2c5f67;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #1d4046;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #1d4046;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #1d4046;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #1d4046;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #1d4046;
}
.navbar-default .navbar-toggle {
  border-color: #1d4046;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1d4046;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #1d4046;
  }
}


.modal-header{
	border-radius: 5px 5px 0 0;
	color: #FFF;
}

.blue	{ background-color: #337ab7; }
.green	{ background-color: #5CB85A; }
.yellow	{ background-color: #f0ad4e; }
.red	{ background-color: #d9534f; }
.info	{ background-color: #5bc0de; }


.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;

	position: absolute;
	top: calc(50% - 60px);
	left:calc(50% - 60px);
	
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.lmask {
  position: absolute;
  height: 100%;
  width: 100%; 
  background-color: #000;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;;
	opacity: 0.4;
	
	display: none;
}





.mb-1{
  margin-bottom: calc(1rem * .25);
}
.mb-2{
  margin-bottom: calc(1rem * .5);
}
.mb-3{
  margin-bottom: 1rem;
}
.mb-4{
  margin-bottom: calc(1rem * 1.5);
}
.mb-5{
  margin-bottom: calc(1rem * 3);
}

.ml-3{
  margin-left: 1rem;
}

.card {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px
solid rgba(0,0,0,.125);
	border-radius: .25rem
}

.card>hr {
	margin-right: 0;
	margin-left: 0
}

.card>.list-group:first-child
.list-group-item:first-child {
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem
}

.card>.list-group:last-child
.list-group-item:last-child {
	border-bottom-right-radius: .25rem;
	border-bottom-left-radius: .25rem
}

.card-body {
	-ms-flex: 1 1
auto;
	flex: 1 1
auto;
	padding: 1.25rem
}

.card-title {
	margin-bottom: .75rem
}

.card-subtitle {
	margin-top: -.375rem;
	margin-bottom: 0
}

.card-text:last-child {
	margin-bottom: 0
}

.card-link:hover {
	text-decoration: none
}

.card-link+.card-link {
	margin-left: 1.25rem
}

.card-header {
	padding: .75rem
1.25rem;
	margin-bottom: 0;
	background-color: rgba(0,0,0,.03);
	border-bottom: 1px solid
rgba(0,0,0,.125)
}

.card-header:first-child {
	border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0
0
}

.card-header+.list-group .list-group-item:first-child {
	border-top: 0
}

.card-footer {
	padding: .75rem
1.25rem;
	background-color: rgba(0,0,0,.03);
	border-top: 1px solid rgba(0,0,0,.125)
}

.card-footer:last-child {
	border-radius: 0
0 calc(.25rem - 1px) calc(.25rem -
1px)
}

.card-header-tabs {
	margin-right: -.625rem;
	margin-bottom: -.75rem;
	margin-left: -.625rem;
	border-bottom: 0
}

.card-header-pills {
	margin-right: -.625rem;
	margin-left: -.625rem
}

.card-img-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1.25rem
}

.card-img {
	width: 100%;
	border-radius: calc(.25rem
- 1px)
}

.card-img-top {
	width: 100%;
	border-top-left-radius: calc(.25rem - 1px);
	border-top-right-radius: calc(.25rem -
1px)
}

.card-img-bottom {
	width: 100%;
	border-bottom-right-radius: calc(.25rem - 1px);
	border-bottom-left-radius: calc(.25rem -
1px)
}

.card-deck {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column
}

.card-deck
.card {
	margin-bottom: 15px
}

@media (min-width:576px) {
	.card-deck {
		-ms-flex-flow: row wrap;
		flex-flow: row
wrap;
		margin-right: -15px;
		margin-left: -15px
	}

	.card-deck .card {
		display: -ms-flexbox;
		display: flex;
		-ms-flex: 1 0 0%;
		flex: 1 0
0%;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-right: 15px;
		margin-bottom: 0;
		margin-left: 15px
	}
}

.card-group {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column
}

.card-group>.card {
	margin-bottom: 15px
}

@media
(min-width:576px) {
	.card-group {
		-ms-flex-flow: row wrap;
		flex-flow: row wrap
	}

	.card-group>.card {
		-ms-flex: 1 0 0%;
		flex: 1 0
0%;
		margin-bottom: 0
	}

	.card-group>.card+.card {
		margin-left: 0;
		border-left: 0
	}

	.card-group>.card:first-child {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0
	}

	.card-group>.card:first-child
.card-header,.card-group>.card:first-child .card-img-top {
		border-top-right-radius: 0
	}

	.card-group>.card:first-child
.card-footer,.card-group>.card:first-child
.card-img-bottom {
		border-bottom-right-radius: 0
	}

	.card-group>.card:last-child {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0
	}

	.card-group>.card:last-child
.card-header,.card-group>.card:last-child .card-img-top {
		border-top-left-radius: 0
	}

	.card-group>.card:last-child
.card-footer,.card-group>.card:last-child
.card-img-bottom {
		border-bottom-left-radius: 0
	}

	.card-group>.card:only-child {
		border-radius: .25rem
	}

	.card-group>.card:only-child
.card-header,.card-group>.card:only-child
.card-img-top {
		border-top-left-radius: .25rem;
		border-top-right-radius: .25rem
	}

	.card-group>.card:only-child
.card-footer,.card-group>.card:only-child
.card-img-bottom {
		border-bottom-right-radius: .25rem;
		border-bottom-left-radius: .25rem
	}

	.card-group>.card:not(:first-child):not(:last-child):not(:only-child) {
		border-radius: 0
	}

	.card-group>.card:not(:first-child):not(:last-child):not(:only-child)
.card-footer,.card-group>.card:not(:first-child):not(:last-child):not(:only-child)
.card-header,.card-group>.card:not(:first-child):not(:last-child):not(:only-child)
.card-img-bottom,.card-group>.card:not(:first-child):not(:last-child):not(:only-child)
.card-img-top {
		border-radius: 0
	}
}

.card-columns .card {
	margin-bottom: .75rem
}

@media
(min-width:576px) {
	.card-columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
		-webkit-column-gap: 1.25rem;
		-moz-column-gap: 1.25rem;
		column-gap: 1.25rem;
		orphans: 1;
		widows: 1
	}

	.card-columns
.card {
		display: inline-block;
		width: 100%
	}
}

.accordion
.card:not(:first-of-type):not(:last-of-type) {
	border-bottom: 0;
	border-radius: 0
}

.accordion .card:not(:first-of-type)
.card-header:first-child {
	border-radius: 0
}

.accordion
.card:first-of-type {
	border-bottom: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0
}

.accordion
.card:last-of-type {
	border-top-left-radius: 0;
	border-top-right-radius: 0
}



/* 框框 */
.dataBox-mainBox{
	border: 1px #ddd solid;
	box-shadow: 4px 4px 12px -2px #ddd;
	margin: 0;
	margin-bottom: 25px;
}
.dataBox-classBox{
	text-align:center;
}
.dataBox-classBox-text{
	background:	#387882;
	color:#FFF;
	font-size:16px;
	padding:5px 0;
	box-shadow: 4px 4px 12px -2px #777;
	margin-left: -20px;
	width: 140px;
	margin-top:10px;
}
.dataBox-classBox-fold{
	position:absolute;
	width:10px;
	height:15px;
	margin-left: -20px;
	background:	#20464c;
	-webkit-clip-path: polygon(0 0, 100% 50%, 100% 0);
	clip-path: polygon(0 0, 100% 50%, 100% 0);
}

.dataBox-cardBox{
	margin-top: 15px;
	text-align:center;
}
.dataBox-cardBox-text{
	background:	#20464c;
	color:#FFF;
	font-size:16px;
	padding:5px 0;
	box-shadow: 4px 4px 12px -2px #777;
	margin-left: -20px;
	width: 160px;
	margin-top:10px;
}
.dataBox-cardBox-fold{
	position:absolute;
	width: 10px;
	height: 15px;
	margin-left: -20px;
	background:	#142c30;
	-webkit-clip-path: polygon(0 0, 100% 50%, 100% 0);
	clip-path: polygon(0 0, 100% 50%, 100% 0);
}


.dataBox-nameBox{
	position: relative;
	height: 25px;
}
.dataBox-nameBox > h4{
	position:absolute;
	display: inline-block;
	height: 25px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.dataBox-imgBox {
	position: relative;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;				
}			
.dataBox-imgBox > a > img{
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	max-width: 100%;
	max-height: 100%;				
}
.dataBox-addrBox{
	margin:10px 0px;
}
.dataBox-addrBox-2{
	position:absolute;
	display: inline-block;
	height: 30px;
	line-height:30px;
	width: 70%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
